body {
  margin-top: 60px;
}
@media (max-width: 768px) {
  body {
    margin-top: 50px;
  }
}

.paradeiser {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  background: #286DA8;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: top 0.4s ease;
          transition: top 0.4s ease;
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  backdrop-filter: blur(10px) saturate(100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.paradeiser.headroom--pinned {
  top: 0;
}
.paradeiser.headroom--unpinned {
  top: -50px;
}
@media (min-width: 768px) {
  .paradeiser.headroom--unpinned {
    top: -60px;
  }
}
@media (min-width: 768px) {
  .paradeiser {
    height: 60px;
  }
}
.paradeiser a, .paradeiser .paradeiser_dropdown {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: -apple-system, -apple-system-body, "Roboto", "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .paradeiser a, .paradeiser .paradeiser_dropdown {
    font-size: 13px;
  }
}
/* .paradeiser a.active, .paradeiser a:hover, .paradeiser .paradeiser_dropdown.active, .paradeiser .paradeiser_dropdown:hover {
  background: #eaf6fa;
} */
.paradeiser .paradeiser_icon_canvas {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 20px;
  color: #000;
  padding-top: 8px;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paradeiser .paradeiser_icon_canvas img {
  display: block;
  margin: 0;
  max-width: 25px;
  width: 100%;
  height: auto;
}
.paradeiser span {
  margin-top: 5px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .paradeiser span {
    font-size: 13px;
  }
}
.paradeiser span.paradeiser_dropdown {
  margin-top: 0;
}
.paradeiser span.paradeiser_dropdown > a {
  width: 100%;
}
.paradeiser .paradeiser_logo {
  max-width: 40px;
  width: 100%;
}
.paradeiser ul {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 998;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
  pointer-events: none;
}
@media (min-width: 768px) {
  .paradeiser ul {
    top: 60px;
  }
}
.paradeiser ul:target, .paradeiser ul.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
  pointer-events: auto;
}
.paradeiser ul li {
  display: inline-block;
  width: 100%;
  background: #4a4a4a;
  text-align: center;
}
.paradeiser ul li a {
  display: inline-block;
  padding: 15px 0;
  width: 100%;
  color: #fff;
  font-size: 15px;
}
.paradeiser ul li a:hover, .paradeiser ul li span:hover {
  background: #575757;
}
.paradeiser ul li:last-child {
  height: 100%;
  background: transparent;
}
.paradeiser ul li:last-child a {
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px) saturate(100%);
}

@media (max-width: 760px) {
  .paradeiser-hidden-phone {
    display: none !important;
  }
}

@media (min-width: 761px) and (max-width: 1025px) {
  .paradeiser-hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1026px) {
  .paradeiser-hidden-desktop {
    display: none !important;
  }
}

@media (min-width: 761px) {
  .paradeiser-hidden-both {
    display: none !important;
  }
}
