@import url("https://fonts.googleapis.com/css?family=Alegreya");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins:800");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100%;
  position: relative; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1.6rem; }

.btn {
  color: #EFEFEF; }

a.btn-link {
  color: #EFEFEF; }

.kampbilde {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.headroom--pinned {
  display: block; }

.headroom--unpinned {
  display: none; }

footer {
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 3rem;
  background-color: #EFEFEF;
  color: #CD5360;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  position: absolute;
  text-align: center; }

footer > a {
  color: #CD5360;
  text-decoration: none; }

.header {
  background: #286DA8;
  font-family: "Poppins", sans-serif;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }

a.tittel {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  color: #EFEFEF;
  margin: 0;
  text-decoration: none; }
  @media (max-width: 500px) {
    a.tittel {
      font-size: 1.6rem; } }

.menu {
  background: #286DA8;
  color: #EFEFEF;
  display: flex;
  flex-direction: row; }

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0; }
  @media (max-width: 800px) {
    .header__content {
      flex-direction: column; } }

.header__links {
  display: flex;
  flex-direction: row; }
  @media (max-width: 800px) {
    .header__links {
      display: none;
      align-items: center;
      flex-direction: column; } }

.header__link {
  color: #EFEFEF;
  text-decoration: none;
  padding: 1.2rem; }

.kort-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding-top: 1.2rem;
  text-decoration: none; }

.kort-wrap {
  color: #50596c;
  text-decoration: none; }

.kort > img {
  max-width: 100%;
  text-decoration: none; }

.kort-tekst > h4 {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none; }

.kort-lenke:hover {
  text-decoration: none; }

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.modal-window:target {
  opacity: 1;
  pointer-events: auto; }

.modal-window > div {
  width: 400px;
  border: 2px solid grey;
  border-radius: 10px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444; }

.modal-window header {
  font-weight: bold; }

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none; }

.modal-close:hover {
  color: #000; }

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px; }

.overskrift {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  overflow-wrap: break-word;
  padding-top: 1.2rem; }

.forfatter {
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  padding-top: 1.2rem; }

.ingress {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  padding-top: 1.2rem;
  text-align: justify;
  text-justify: inter-word; }

.nyhetstekst {
  font-family: 'Work Sans', sans-serif;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: justify;
  text-justify: inter-word; }

.kamprapport {
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  background: #EFEFEF;
  display: flex;
  flex-direction: column;
  float: right;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
  padding: 0.8rem;
  width: 20rem; }
  @media (max-width: 700px) {
    .kamprapport {
      width: 100%; } }

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 1.8rem; } }
