*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: $m-size;
  line-height: 1.6;
  min-height: 100%;
  position: relative;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1.6rem;
}

.btn {
  color: $neutral;
}

a.btn-link {
  color: $neutral;
}

.kampbilde {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.headroom--pinned {
  display: block;
}
.headroom--unpinned {
  display: none;
}
