//Colors
$blue: #1c88bf;
$grey: #666;
$dark-blue: #364051;
$dark-grey: #333333;
$off-white: #f7f7f7;
$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;
$summersky: #286DA8;
$warmpeach: #CD5360;
$breeze: #438496;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins:800');
$poppins: 'Poppins', sans-serif;


//Font-sizes
$font-size-xl: 2.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem; 
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem; 