footer {
  
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 3rem;
  background-color: $neutral;
  color: $warmpeach;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  position: absolute;
  text-align: center;
}

footer > a {
  color: $warmpeach;
  text-decoration: none;
}