.header {
  background: $summersky;
  font-family: $poppins;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

a.tittel {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  color: $neutral;
  margin: 0;
  text-decoration: none;
  @media (max-width: 500px) {
    font-size: $m-size;
  }
}

.menu {
  background: $summersky;
  color: $neutral;
  display: flex;
  flex-direction: row;
  
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0; 
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.header__links {
  display: flex;
  flex-direction: row;
  @media (max-width: 800px) {
    display: none;
    align-items: center;
    flex-direction: column;
  }
}

.header__link {
  color: $neutral;
  text-decoration: none;
  padding: $s-size;
}

