.kort-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding-top: $s-size;
  text-decoration: none;
}

.kort-wrap {
  color: #50596c;
  text-decoration: none;
}

.kort > img {
  max-width: 100%;
  text-decoration: none;
}

.kort-tekst > h4 {
  font-size: $m-size;
  font-family: $poppins;
  text-decoration: none;
}

.kort-lenke:hover {
  text-decoration: none;
}