

.overskrift {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  overflow-wrap: break-word;
  padding-top: $s-size;
}

.forfatter {
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  padding-top: $s-size;
}

.ingress {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  padding-top: $s-size;
  text-align: justify;
  text-justify: inter-word;
}

.nyhetstekst {
  font-family: 'Work Sans', sans-serif;
  padding-top: $s-size;
  padding-bottom: $s-size;
  text-align: justify;
  text-justify: inter-word;
}

.kamprapport {
  border: 1px solid $carbon;
  border-radius: 3px;
  background: $neutral;
  display: flex;
  flex-direction: column;
  float: right;
  margin-bottom: $s-size;
  margin-left: $s-size;
  padding: 0.8rem;
  width: 20rem;
  @media (max-width: 700px) {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 1.8rem;
  }

}